<!doctype html>
<html>
<head><title>Real Time Polling</title></head>
<body>
   <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet'>

  {{{ body }}}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">"https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.js"</script>
</body>
</html>