<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<div class="container">
  <div class="col-md-12 row well">
    <h1 class={{id}}>Here are the vote counts:</h1>
    <h4> No one has voted yet! Check back later</h4>
    <div class='vote-count'>
    {{#each data}}
      <script>
      $('h4').hide();
      </script>
      Poll Item: {{@key}} has {{this}} vote(s)<br>
    {{/each}}

    </div><br>
    <button class='end-poll btn btn-danger'>End Poll</button>
    <h2 style='display: none;'>The Poll Has Ended</h2>
    <h3>Poll Link</h3>
    <h5>Send this link to people taking the poll!</h5>
    <p></p>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/admin.js"></script>