<h1>Please vote for one!</h1>

<div class={{id}} id='choices'>
  {{#each data}}
    <button>{{this}}</button>
  {{/each}}
  <div class='thank-you'style='display: none;'><h3>Thank you for voting!</h3></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/poll.js"></script>